<div class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="text-align: center">
                <h1>About Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3" class="imgg">
                <img src="https://i.pinimg.com/236x/0f/8b/28/0f8b2870896edcde8f6149fe2733faaf--logo-programmer-coder.jpg"
                    class="rounded-circle" alt="Programmer" width="70" height="70">
                <figcaption class="cap"><b>Programmer</b></figcaption>
            </div>
            <div class="col-3" class="imgg">
                <img src="https://cdn2.iconfinder.com/data/icons/education-3-27/65/103-512.png" class="rounded-circle"
                    alt="Designer" width="70" height="70">
                <figcaption class="cap"><b>Designer</b></figcaption>
            </div>
            <div class="col-3" class="imgg">
                <img src="https://banner2.kisspng.com/20180327/yce/kisspng-graphic-designer-logo-graphic-design-5abb0d854768b5.5941759815222081332925.jpg"
                    class="rounded-circle" alt="Artist" width="70" height="70">
                <figcaption class="cap"><b>Artist</b></figcaption>
            </div>
            <div class="col-3" class="imgg">
                <h3>Follow us on</h3>
                <div>
                    <a href="https://www.facebook.com/zikerebomani">
                        <img alt="facebook" src="https://image.flaticon.com/icons/png/512/124/124010.png" width="30" height="30">
                    </a>
                    <a href="https://twitter.com/zikerebomani">
                        <img alt="twitter" src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" width="30" height="30">
                    </a>
                    <a href="https://www.instagram.com/zike_rebo_mani/">
                        <img alt="instgram" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png" width="30" height="30">
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center">
                   <h5> Copyright 2019 by Manikandan. All Rights Reserved.</h5>
                </div>  
        </div>
    </div>
</div>