<app-header></app-header>
<div class=body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p id=heading> Services</p>
            </div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-3">

                <div class="hovereffect">
                    <img style="margin-left:33%;" src="https://images-na.ssl-images-amazon.com/images/I/41Vp1p9iBOL.png"
                        class="rounded-circle" alt="Web Development" width="100" height="100">
                    <div class="figcaption">
                        <a href="https://en.wikipedia.org/wiki/Web_development">
                            <h4>WEB-DEVELOPMENT</h4>
                        </a>
                    </div>
                    <div class="paragraph">
                        <div class="paragraph">
                            <p> Web application development is the process and practice of developing web
                                applications.
                                There is a consensus that the processes involved are extensions of standard software
                                engineering processes.Considering this, along with its unique characteristics.</p>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-3">
                <div class="hovereffect">
                    <img style="margin-left:33%;"
                        src="https://www.logolynx.com/images/logolynx/05/05642d3aaa3cc2d16f29da71239e2c60.png"
                        class="rounded-circle" alt="SEO" width="100" height="100">
                    <div class="figcaption">
                        <a href="https://en.wikipedia.org/wiki/Search_engine_optimization">
                            <h4>SEO</h4>
                        </a>
                    </div>
                    <div class="paragraph">
                        <p> Search engine optimization (SEO) is the process of increasing the quality and quantity
                            of
                            website traffic by increasing visibility of a website or a web page to users of a web
                            search
                            engine.Promoting a site to increase the number of backlinks, or inbound links, is
                            another
                            SEO tactic.</p>

                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="hovereffect">
                    <img style="margin-left:33%;"
                        src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/5012350/600/400/m2/fpnw/wm0/online-shop-1-01-.jpg?1536258181&s=113649c6d9fed6ad4a1fcba983148819"
                        class="rounded-circle" alt="E-Commerce" width="100" height="100">
                    <div class="figcaption">
                        <a href="https://en.wikipedia.org/wiki/E-commerce">
                            <h4>E-COMMERCE</h4>
                        </a>
                    </div>
                    <div class="paragraph">
                        <p> E-commerce is the activity of buying or selling of products on online services or over
                            the
                            Internet.Business-to-business buying and selling; Gathering and using demographic data
                            through web contacts and social media. Business-to-business (B2B) electronic data
                            interchange.</p>

                    </div>
                </div>
            </div>
            <div class="col-3">

                <div class="hovereffect">
                    <img style="margin-left:33%;"
                        src="http://cambiopromotion.com/wp-content/uploads/2015/06/responsive-design-icon.png"
                        class="rounded-circle" alt="Portfolio" width="100" height="100">
                    <div class="figcaption">
                        <a href="https://en.wikipedia.org/wiki/Portfolio">
                            <h4>PORTFOLIO</h4>
                        </a>
                    </div>
                    <div class="paragraph">
                        <p> Portfolio (finance), a collection of assets held by an institution or a private
                            individual.
                            Artist's portfolio, a sample of an artist's work or a case used to display artwork,
                            photographs
                            etc.Career portfolio, an organized presentation of an individual's education, work
                            samples,
                            and
                            skills.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custbg">
        <div class="container" style="margin-top: 5%;">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="row">
                    <div class="col-12">
                        <p id=customer> Our Customers</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 style="text-align:center">We are providing better services to our customers</h3>
                    </div>

                </div>

                <div class="row">
                    <div class="col-3">
                        <img style="margin-left:20%;"
                            src="http://gettysburgian.com/wp-content/uploads/2016/03/apple.png" alt="apple" width="100"
                            height="100">
                    </div>
                    <div class="col-3">
                        <img style="margin-left:15%;margin-top: 5%;"
                            src="https://www.thewrap.com/wp-content/uploads/2014/12/hbo-logo.jpg" alt="hbo" width="60"
                            height="80">
                    </div>
                    <div class="col-3">
                        <img style="margin-left:15%"
                            src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c529.png" alt="netflix"
                            width="100" height="100">
                    </div>
                    <div class="col-3">
                        <img style="margin-left:23%"
                            src="https://banner2.kisspng.com/20180324/gxw/kisspng-intel-atom-laptop-raid-intel-hd-and-iris-graphics-intel-5ab6f5b8267930.1271715915219398961576.jpg"
                            alt="intel" width="100" height="100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img style="margin-left:20%" src="https://carguide.me/wp-content/uploads/2017/11/Rise-Logo.jpg"
                            alt="mahindra" width="100" height="100">
                    </div>
                    <div class="col-3">
                        <img style="margin-left:15%" src="http://pluspng.com/img-png/paypal-hd-png-paypal-logo-512.png"
                            alt="paypal" width="100" height="100">
                    </div>
                    <div class="col-3">
                        <img style="margin-left:15%" src="http://pluspng.com/img-png/loreal-png-about-l-oreal-400.png"
                            alt="loreal" width="100" height="100">
                    </div>
                    <div class="col-3">
                        <img style="margin-left:23%"
                            src="https://cdn.freebiesupply.com/logos/large/2x/mrv-communications-logo-png-transparent.png"
                            alt="mrv" width="100" height="100">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>